
.background-image{
  --background: url("https://assets.nflxext.com/ffe/siteui/vlv3/92bb3a0b-7e91-40a0-b27b-f2c3ac9ef6e4/b2633c77-b52f-42e4-afec-b798af181499/TN-en-20210322-popsignuptwoweeks-perspective_alpha_website_medium.jpg") 0 0/100% 100% no-repeat;
}

ion-content {
  --background: black;
}
ion-searchbar {
  padding-bottom: 50%;
}
.img_box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
img {
  width: 60%;
  border-radius: 10px;
}
h1 {
  color: white;
  margin-left: 20px;
    font-weight: 800;
}
p {
  margin-left: 20px;
  margin-right: 10px;
  color: #c6c6c6;
  font-weight: 300;
}
