<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-image">
  <div class="d-flex justify-content-center h-100">
    <div class="search"> <input class="search_input" type="text" name="key" placeholder="Search here..."> <a href="#" class="search_icon"><i class="fa fa-search"></i></a> </div>
</div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>

  http://127.0.0.1:8000/api/search  +key
 -->




</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
