<br><br>

<ion-content class="ion-padding background-image">


    <ion-searchbar   [(ngModel)]="searchTitle" (ionChange)="searchMovie()" ></ion-searchbar>

      <!-- <img [src]="movieData.imageUrl"> -->

    <!-- <p>{{ movieData.description }}</p> -->

    <!-- <div class="img_box">
      <img [src]="movieData.image">

    Title:<h1>{{ movieData.title }}</h1>
    Description:<p>{{ movieData.description }}</p>
    Length:<h1>{{ movieData.length }}</h1>
    Year Released:<h1>{{ movieData.year }}</h1>


</div> -->
<!--http://127.0.0.1:8000/api/search  +key-->


<ion-card>
  <ion-card-header>
    <center><img [src]="movieData.image"></center>
    <ion-card-title>{{ movieData.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ movieData.description }}
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>TRAILER</ion-label>
    <ion-button href="{{ movieData.trailer }}">View</ion-button>
  </ion-item>

</ion-card>

<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>Released Year: {{ movieData.year }}</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="stopwatch" slot="start"></ion-icon>
    <ion-label>Length: {{ movieData.length }}</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="star-outline" slot="start"></ion-icon>
    <ion-label>Rating : {{ movieData.rating }}</ion-label>
  </ion-item>


</ion-card>

</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
