<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-image">
  <div class="d-flex justify-content-center h-100">

    <ion-searchbar   [(ngModel)]="searchTitle" (ionChange)="searchMovie()" ></ion-searchbar>


    <div class="img_box">
      <img [src]="movieData.imageUrl">
    </div>
    <h1>{{ movieData.title }}</h1>
    <p>{{ movieData.description }}</p>


</div>

<!--http://127.0.0.1:8000/api/search  +key-->




</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
